*{
    box-sizing: border-box;
}
body {
    background-color: #EED09C;
}
div {
    display: block;
}
a {
    text-decoration: none;
    color: black;
    font:14px/20px yekan;
}
header {
    margin: auto;
}
.nav_bar {
    height: 70px;
    margin-top: 30px;
}
.highest_row {
    width: 1280px;
    height: 150px;
}
.logo_header {
    position: relative;
    top: 20px;
    left: 577px;
    width: inherit;
}
.logo_image {
    max-width: 60px;
}
.line {
    position: relative;
    margin: 0 5rem;
    height: 1px;
    background: black;
    margin-top: 3.5rem;
    width: 5%;
    left: 525px;
}
.bar {
    background-color: #F4F1EA;
}
.MainContentCointainer{
    background-color: #EED09C;
    min-height: 1000px;
}
.MainContent {
    height: inherit;
    width: inherit;
    padding: 30px 100px;
}
.today {
    text-align: center;
}
.today_title {
    font:24px/50px yekan;
    font-weight: bold;
}
.today_description {
    font:13px/20px yekan;
}
.timeline-block-1 {
    display: block;
    padding-top: 15px;
    width: 100%;
    min-height: 50px;
}
.timeline-block {
    display: block;
    padding-top: 15px;
    width: 100%;
    min-height: 300px;
}
.timeline-year {
    position: absolute;
    left: 46%;
    border-radius: 50%;
	width: 100px;
	height: 100px; 
    background-color: black;
    color: ghostwhite;
    text-align: center;
}
.timeline-written-year {
    position: relative;
    top: 15px;
}
.timeline-image {
    max-width: 220px;
    background-size: cover;
    background-position: center center;
    position: relative;
    right: 16%;
    bottom: 60%;
    -webkit-transform:rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.diamond {
    left: 53%;
  width: 150px;
  height: 150px;
  background: #1eff00;
  /* Rotate */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* Rotate Origin */
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  margin: 60px 0 10px 310px;
  border-radius: 20px;
  position: relative;
  overflow: hidden; 
  margin-bottom: -60px;
  margin-left: -20px;
  display: inline-block;
}
.timeline-description {
    text-align: center;
    position: relative;
    top: 60px;
}
.left-col-1 {
  width: 50%;
  min-height: 50px;
  border-right: 4px solid black;
  float: left;
  box-sizing: border-box;
}
.right-col-1 {
  width: 50%;
  min-height: 50px;
  float: right;
}
.left-col {
  width: 50%;
  min-height: 300px;
  border-right: 4px solid black;
  float: left;
  box-sizing: border-box;
}
.right-col {
  width: 50%;
  min-height: 300px;
  float: right;
}